body {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-image: url('./../Assets/Grass2.png');
    background-position: center;
}

#boo{
  width: 0;
  height: 0;
  visibility: hidden;
}

#canvas-container{

    display: flex;
    align-items: center;
}

#coordenadas{
  border: 1px solid rebeccapurple;
}

canvas{
  border: 1px solid red;
}