
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./../Assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

#game-title {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 

}

@media (max-width: 1200px) {
    #game-title {
        font-size: 2.5em;
    }
}

@media (max-width: 992px) {
    #game-title {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    #game-title {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    #game-title {
        font-size: 1.2em;
    }
}

#menu {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 20px;
    border-radius: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf61;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
